@model IEnumerable<Person>
@using ReverseEngineering.Models

@{
    ViewData["Title"] = "Index";
    var partialModel = (IEnumerable<Person>)ViewData["todayBirthdayPerson"];

}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PersonType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NameStyle)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MiddleName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PersonType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NameStyle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MiddleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.BusinessEntityId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.BusinessEntityId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.BusinessEntityId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <h4>Doğumgünleri</h4>
            @foreach (Person item in partialModel)
            {
                <partial name="_TodayBirthDay" model="item" />
                @*@Html.Partial("_TodayBirthDay", item)*@
            }
        </div>
    </div>

</div>
